body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #9999ff, #66ccff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    margin-top: 0; 
    margin-bottom: 0px;
    padding: 0;
    box-sizing: border-box;
    color: #660099;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.terminado {
    text-align: center;
            margin-top: 10px;
            padding: 10px; 
            border-radius: 8px; 
            position: absolute; 
            bottom: 120px;
            left: 0;
            right: 0;
}

label {
    display: block;
    color: #272525;
    margin-bottom: 10px;
    font-size: 0.9em;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #ddd6cf;
    color: #413d3d;
    font-size: 0.9em;
    box-sizing: border-box;
}

textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #ddd6cf;
    color: #585757;
    font-size: 0.9em;
    box-sizing: border-box;
    resize: none;
    max-width: 120%; 
    max-height: 190px;
}

button {
    background-color: #512da8;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

button:hover {
    background-color: #330066;
}

button:active {
    transform: translateY(1px);
}

a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}