/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to right, #9999ff, #66ccff); /* Fondo con degradado */
}

.content {
    max-width: 1200px; /* Ancho máximo del contenido para simular una empresa grande */
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    background-color: #fff; /* Fondo blanco para el contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos del menú */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para las secciones */
section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

p {
    color: #666;
}